{% load static %}

<div class="row question align-items-center" data-question-id="{{ item.question.id }}">
    <!-- Левая колонка с аватаром и кнопкой лайка -->
    <div class="col-12 col-md-3 d-flex flex-column align-items-center text-center">
        <!-- Аватар -->
        <img src="{{ item.question.avatar.url }}" alt="Avatar" class="img-thumbnail"
             style="width: 100%; height: auto; object-fit: cover; max-width: 200px; max-height: 200px;">
        <!-- Блок лайка c комментарием-->
        <section class="d-flex align-items-center justify-content-center mt-2 gap-2">
            <button class="btn like-button" style="background: none; border: none; padding: 0; cursor: pointer;">
                <i class="fas fa-heart" data-is-liked="{{ item.is_liked }}"
                   style="font-size: 20px; color: {% if item.is_liked %}red{% else %}lightgray{% endif %};"></i>
                <span class="like-counter ms-2">{{ item.likes_count }}</span>
            </button>
            <div>
                <i class="fas fa-comment" style="font-size: 20px; color: lightgray;"></i>
                <span class="comment-counter ms-2">{{ item.comments_count }}</span>
            </div>
        </section>
    </div>

    <!-- Правая колонка с информацией о вопросе -->
    <div class="col-12 col-md-9 d-flex flex-column gap-3">
        <!-- Заголовок -->
        <a href="{% url 'QuestionSingle' item.question.id %}" class="text-decoration-none">
            <h5 class="text-truncate">{{ item.question.title }}</h5>
        </a>
        <!-- Текст -->
        <p class="card-text" style="max-height: 5rem; overflow: hidden;">{{ item.question.text }}</p>
        <!-- Теги -->
        <div class="d-flex flex-wrap">
            <strong class="me-2">Tags:</strong>
            {% for tag in item.tags %}
                <a href="/tag/{{ tag.name }}" class="badge bg-light text-dark me-1 mb-1">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
